<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Facebook Monitor</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <div class="mainoutline">
        <h1>Facebook Friend Monitor</h1>
        
        {% if current_user %}
            <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture"/></a></p>
            <p>You are logged in as {{ current_user.name|escape }}.</p>
            {% if updated %}
                <p>
                Your friends list was <strong>updated</strong> just now.
                </p>
            {% endif %}

            <p>
            {% if current_user.friends %}
                Tracking {{ current_user.friends|length }}+ friends.
            {% endif %}
            {% if splits %}
                These friends no longer show up on your friends list:
                <ul>
                {% for person in splits %}
                <div class="imagewrap"><img src="http://graph.facebook.com/{{person.1}}/picture"/></div><strong>{{person.0|escape}}</strong><br><br>
                {% endfor %}
                </ul>

                People can go missing from your friends list for a couple of reasons:
                <ol>
                    <li>They've deactivated their Facebook accounts</li>
                    <li>Facebook's API isn't providing the complete list (this happens)</li>
                    <li>They've DEFRIENDED you (or you've defriended them)</li>
                </ol>
            {% else %}
                No people are missing from your list.  Come back in a bit and we'll let you know if any of your friends have gone missing.
            {% endif %}
            </p>
            <p>
            <a href="javascript:this.location.reload();">Refresh</a><br><br>
            <a href="/auth/logout">Log out</a><br><br>

            {% if current_user.wants_email %}
            Right now you are set to receive email notifications on defriending.  If you do not want to receive these notifications, click <a href="/noemail?id={{current_user.id}}&tag={{current_user.tag}}">here</a>.
            {% else %}
            {% if not current_user.wants_email and current_user.email %}
            Right now you are set to NOT receive email notifications on defriending.  If you do not want to receive these notifications, click <a href="/yesemail?id={{current_user.id}}&tag={{current_user.tag}}">here</a>.
            {% endif %}
            {% endif %}<br>

            To remove all your data from this app, click <a href="javascript:if(confirm('Are you sure?'))document.location='http://facebook-monitor.appspot.com/cancel?id={{current_user.id}}&tag={{current_user.tag}}'">here</a>.

            </p>
        {% else %}
            <p><strong>Log in with Facebook to find out when someone's defriended you.</strong>
            <br>When you visit this page in the future, we'll let you know if anyone's gone from your list.  Email notifications coming soon.</p>
            <p><a href="/auth/login">Login</a></p>
        {% endif %}
        </div>
        <div class="footer">Home | <a href="/pages/about.html">About</a>| <a href="/pages/legal.html">Policies</a> | by <a href="http://ianww.com">Ian Webster</a> </div>
    </body>
</html>
