a:link {
    color: #AB0A32;
}

a.speciallink:link {
    color: #08a600;
}

a.speciallink:visited {
    color: #08a600;
}

a.speciallink:hover {
    color: #220022;
}

a:visited {
    color: #AB0A32;
}

a:hover {
    color: #220022;
}

.body {
    background-color: #eee;
}

.loud {
    font-size: 20px;
    font-weight: bold;
}

.blurb {
    font-size: 12px;
}

.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 10px;
}

.mainoutline {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
